<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>
<ul>
    <li>List popular languages for Data Science</li>
    <li>List commonly used libraries for Data Science</li>
    <li>Evaluating arithmetic expressions in Python</li>
</ul>

Some of the popular languages that Data Scientists use are:

<ol>
    <li>Pyhton</li>
    <li>R</li>
    <li>SQL</li>
    <li>MATLAB</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:

<ol>
    <li>Pandas</li>
    <li>NumPy</li>
    <li>Matplotlib</li>
    <li>TensorFlow</li>
</ol>

| Data Science Tools | 
| :--- |
| RStudio | 
| Apache Spark | 
| Apache Hadoop |

<H3>Below are a few examples of evaluating arithmetic expressions in Python</H3>

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
#This will convert 200 minutess to hours by diving by 60
x = 200//60
print(x ,"hours")

3 hours

<H2>Author</H2>
Nooron Ahmad